*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#wrapper{
    width: 100%;
    background-color: rgb(50, 50, 50)

}
.parent{
    position: relative;
    width: 100%;
    height: 700vh;
    top: 0px;
    left: 0px;
    
}
canvas{
    width: 100%;
    height: screen;
}
#main{
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;
    height: screen;
    
}